<ul id="books" data-controller="draggable">
  <% @books.each { |book| %>
    <li class="book" data-id="<%= book.id %>" draggable="true" data-draggable-target="book"
        data-action="dragstart->draggable#dragStart dragenter->draggable#dragEnter dragover->draggable#dragOver dragleave->draggable#dragLeave dragend->draggable#dragEnd">
      <dl>
        <dt><%= link_to book.title, action: "show", id: book %></dt>
        <dt><%= book.title %></dt>

        <% book.authors.each { |author| %>
          <dd><%= author.last_name %>, <%= author.first_name %></dd>
        <% } %>

        <dd><%= pluralize(book.page_count, "page") %></dd>
        <dd>Price: <%= number_to_currency(book.price) %></dd>
        <dd><small>Publisher: <%=  book.publisher.name %></small></dd>

        <dd>
          <strong>
            <!-- We can also set data: { turbo: "false" } if we don't want our request to be Ajax -->
            <%= button_to 'Click or drag to the cart', add_path(id: book.id), method: :post, remote: true, form: {data: {turbo_confirm: 'Are you sure?'}} %>
          </strong>
        </dd>
      </dl>
    </li>
  <% } %>
</ul>
