<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="us" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= @page_title || 'Dream Library' %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div id="header">
      <h1 id="logo">Dream Library&trade;</h1>
      <h2 id="slogan">Books on Rails</h2>
    </div>

    <div id="menu">
      <ul>
        <li><a href="/admin/author">Authors</a></li>
        <li><a href="/admin/publishers">Publishers</a></li>
        <li><a href="/admin/books">Books</a></li>
        <li><a href="/catalog/index">Catalog</a></li>
        <li><a href="/about/index">About</a></li>
      </ul>
    </div>

    <div id="content">
      <h1><%= "#{@page_title}" if @page_title %></h1>
      <% if flash[:notice] %>
        <div id="notice">
          <%= flash[:notice] %>
        </div>
      <% end %>
      <%= yield %>
    </div>

    <% if @cart %>
      <div id="shopping_cart">
        <%= render partial: "cart/cart" %>
      </div>
    <% end %>

    <div id="footer">
      &copy; 2022-2023 Dream Library
    </div>
  </body>
</html>
